<!-- Register login to the database -->
{% extends "layout.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container theme-showcase" role="main" style="margin-top: 75px">
    <h2>Sign up</h1>
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field( form.name ) }}
            {{ wtf.form_field( form.surname ) }}
            {{ wtf.form_field( form.email ) }}
            {{ wtf.form_field( form.passwd ) }}
            {{ wtf.form_field( form.passwd2 ) }}
            {{ wtf.form_field( form.project ) }}
            <input type="submit" value="Register">
        </form>
</div>

{% endblock %}