{# Configuration #}

{% extends "layout.jinja2" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1 class="text-center">Technical specifications</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="acquisition-tab" data-toggle="tab" data-target="#acquisition-tab-pane"
            type="button" role="tab" aria-controls="acquisition-tab-pane" aria-selected="true">
            <i class="fa fa-edit"></i> Acquistion system
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="manipulation-tab" data-toggle="tab" data-target="#manipulation-tab-pane"
            type="button" role="tab" aria-controls="manipulation-tab-pane" aria-selected="false">
            <i class="fa fa-up-down-left-right"></i> Micromanipulation
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact-tab-pane" type="button"
            role="tab" aria-controls="contact-tab-pane" aria-selected="false">
            <i class="fa fa-video"></i> Wide-field videomicroscopy
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="disabled-tab" data-toggle="tab" data-target="#disabled-tab-pane" type="button"
            role="tab" aria-controls="disabled-tab-pane" aria-selected="false">
            <i class="fa fa-droplet"></i> Drug application system
        </button>
    </li>
</ul>

{# Content #}
{# Acquistion system #}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="acquisition-tab-pane" role="tabpanel" aria-labelledby="acquisition-tab"
        tabindex="0">

        <div class="card">
            <h5 class="card-header">Electronics and acquisition system</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Multiplexer board for the acquistion of up to 512 channels at 30 kHz via USB 3.0.</li>
                            <li>Low-noise recording headstage microchips for signal amplification. </li>
                            <li>Serial peripheral interface cables connecting board to headstage. </li>
                            <li>Sharpened extracellular probes with customized number and location of electrodes. </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p> Second local image
                            <img src="{{ url_for('static', filename='img/zoom.jpg') }}">
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {# Micromanipulation #}
    <div class="tab-pane fade" id="manipulation-tab-pane" role="tabpanel" aria-labelledby="manipulation-tab"
        tabindex="1">

        <div class="card">
            <h5 class="card-header">Electrical isolation and micromanipulation</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Precise (&lt 1 &mu;m) motorized (4.8 nm resolution) XYZ micromanipulators with 25 mm
                                travel
                                distance.</li>
                            <li>XYZ manual controlled (25 mm) stage oxidized to reduce toxicity or chemical degradation.
                            </li>
                            <li>Vibration-damping optical table (600 x 900 mm L x W) and the associated
                                passive-isolation table.
                            </li>
                            <li>Electromagnetic isolator (&lt 55 dB) with computer ergonomic solution (600 x 900 x 600,
                                L x W x H).
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p> Second local image
                            <img src="{{ url_for('static', filename='img/zoom.jpg') }}">
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {# Microscopy #}
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="2">

        <div class="card">
            <h5 class="card-header">Wide-field fluorescence imaging</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Large (20-80 mm) working distance and field of view (12 x 9 mm) with 0.6-1.7X
                                magnification range.
                            </li>
                            <li>Computer vision infrared video-camera with 3.5 um per pixel resolution up to 227 frames
                                per second.
                            </li>
                            <li>Broadband or single-colored (e.g., 470 nm) strong LED illumination (up to 1200 mW).</li>
                            <li>Filter sets for green (470 BP/495 LP/525 BP) or red (590 BP/660 LP/700 BP) fluorophores.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p> Second local image
                            <img src="{{ url_for('static', filename='img/zoom.jpg') }}">
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {# Pharmacology #}
    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="3">
        <div class="card">
            <h5 class="card-header">Drug application system</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Dual-channel temperature controller for solution heating and sample temperature
                                preservation.</li>
                            <li>Peristaltic application of small volumes (10-25 ml) under controlled recirculation (0-30
                                ml/min).
                            </li>
                            <li>Temperature-controlled quick-exchange recording chamber (9-13 mm diameter).</li>
                            <li>PVC-based adaptations for tissue oxygenation and drug exchange.</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p> Second local image
                            <img src="{{ url_for('static', filename='img/zoom.jpg') }}">
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}