{% extends "layout.jinja2"%}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<section class="h-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-6 mx-md-4">

                                <div class="text-center">
                                    <img src="{{url_for('static', filename = '/img/brain1.jpg')}}"
                                        style="height: 150px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Contact Us</h4>
                                </div>

                                <form>
                                    <p>Please fill this form</p>

                                    <div class="form-outline mb-4">
                                        {{form.name(placeholder="Name", class="form-control")}}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{form.email(placeholder='Email', class="form-control")}}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{form.body(placeholder='Message', class="form-control")}}
                                    </div>

                                    <div class="form-outline mb-4 d-grid">
                                        {{ form.submit(class_="btn btn-primary btn-block mb-3")
                                        }}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mt-1 mb-5 pb-1">Contact Us</h4>
                                <p class="small mb-5">
                                    Do you have any questions? Please do not hesitate to contact us directly. Our team
                                    will come back to you within a matter of hours to help you.
                                </p>
                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Don't have an account?</p>
                                    <button type="button" class="btn btn-outline-danger">Create new</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}