{#-- Login access:
you may look here:
https://www.mattbutton.com/2019/01/05/google-authentication-with-python-and-flask/-->

#}
{% extends "layout.jinja2" %}

{% block title %} {{ title }} {% endblock %}



{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                        style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">OrganoStation App</h4>
                                </div>

                                <form>
                                    <p>Please login to your account</p>

                                    <div class="form-outline mb-4">
                                        {{form.email(placeholder="Email or Username", class="form-control")}}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{form.password(placeholder='Password', class="form-control")}}
                                    </div>
                                    <div class="checkbox">
                                        {{ form.remember_me(class="form-check", style="float:left")}} {{
                                        form.remember_me.label }}
                                        <a href="/reset-password/" style="float:right">Forgot password?</a>
                                    </div>

                                    <br>
                                    <div class="form-outline mb-4 d-grid">
                                        {{ form.submit(class_="btn btn-primary btn-block mb-3")
                                        }}
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Access Policy</h4>
                                <p class="small mb-0">
                                    The OrganoStation is a customized system to obtain neurophysiological signals (e.g.,
                                    EEG) in brain organoids or other in vitro preparations. It also contains a
                                    visualization app to document and analyze electrical or fluorescence signals.
                                </p>
                                <div class="d-flex align-items-center justify-content-center pb-4">

                                    <p class="mb-0 me-2">Don't have an account?</p>
                                    <button type="button" class="btn btn-outline-danger">Create new</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h2 class="text-center">Account Login</h2>
<form action="" , method="POST" class="form-signin">
    {{ form.hidden_tag() }} {# hidden field to protect against cross-site-scripting #}

    <div class="form-group">
        {{ form.email.label }}<br>
        {{form.email(size=32, placeholder="Email or Username", class="form-control")}}<br>
    </div>

    <div class="form-group">
        {{form.password.label}}
        {{form.password(size=32, placeholder='Password', class="form-control")}}
    </div>

    <div class="checkbox">
        {{ form.remember_me(class="form-check", style="float:left")}} {{ form.remember_me.label }}
        <a href="/reset-password/" style="float:right">Forgot password</a>
    </div>

    {{ form.submit(class_="btn btn-primary btn-block") }}
</form>


<h1 class="text-center">Account Login</h1>
{% macro render_field(field) %}
<div class="form-group">
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}
<div class="p-3">
    <form id="loginForm" class="form form-register" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.email, placeholder="email") }}<br>
        {{ render_field(form.password, placeholder="password") }}<br>
        <div class="form-group">
            {{form.email(size=40)}}
        </div>
        <br>
        <div class="form-group" placeholder="Email or Username">
            {{form.password(size=40)}}
        </div>
        <p><input class="btn btn-default btn-submit" type="submit" value="Log In"></p>
        <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    </form>
</div>

<HR>
<div class="form-wrapper p-3">
    <h2 class="title">Account Login</h2>

    <form class="form-signin" method="POST" action="{{ url_for('home_bp.contact') }}">

        <fieldset class="form-field">
            {{ form.email.label }}
            {{ form.email(size=50) }}
        </fieldset>
        <br>
        <fieldset class="form-field">
            {{ form.password.label }}
            {{ form.password(size=50) }}
        </fieldset>
        <br>

        {{form.remember}}
        {{ form.submit }}

    </form>
</div>
<HR>
<div class="container p-3">
    <form action="/login/" method="post" class="form-signin">
        {# <h2 class="form-signin-heading">Account Login</h2>#}
        <h2>Account Login</h2>
        <input type="hidden" name="csrfmiddlewaretoken"
            value="EyorsGKIFjFV8KSJuYaiNMu0JMEeKbcsNxOS6HfxlyUSiqX5PohkylbwQyNoOKeZ">

        <input type="text" name="username" autofocus class="form-control" placeholder="Email or Username" maxlength="50"
            autocapitalize="none" autocomplete="username" required id="id_username">
        <br>
        <input type="password" name="password" class="form-control" placeholder="Password" required id="id_password">

        <input type="hidden" name="next" value="" />
        <div class="checkbox">
            <label><input type="checkbox" name="remember" id="id_remember"> Remember Me</label><a
                href="/reset-password/" style="float:right">Forgot password</a>
        </div>
        <br>
        <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    </form>
    <div class="form-signin">
        <p>New user? <a id="register" href="{{url_for('home_bp.home')}}">Create an account</a></p>
    </div>
</div>
{% endblock %}