{% block footer %}
<footer>
    <div class="row">
        <div class="col-4">
        <p>Copyright &copy 2022 www.organostation.com. All rights reserved. </p>
        </div>
        <div class="col-8">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-snapchat"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>
</footer>
{% endblock %}