{% extends "layout.jinja2" %}
{% block content %}

{# {% include "navigation.jinja2" %} #}

<div class="container">
    <h1>Title: {{ title }}</h1>
    <h4>Description: {{ description }}</h4>
</div>
Standard text.
<a href="{{ url_for('home_bp.test') }}">Test link</a>

{# general static and templates #}
{% include "blueprintinfo.jinja2" %}
{% endblock %}