{% extends "layout.jinja2" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container">
    <h1>{{user.name}} {{user.surname }} Profile</h1>
    <ul id="user.username">
        <li>
            <span class="field-name"><strong>Name:</strong></span>
            <span class="field-value">{{ user.name }}</span>
        </li>
        <li>
            <span class="field-name"><strong>Surname:</strong></span>
            <span class="field-value">{{ user.surname }}</span>
        </li>
        <li>
            <span class="field-name"><strong>Email:</strong></span>
            <span class="field-value">{{ user.email }}</span>
        </li>
        <li>
            <span class="field-name"><strong>Created:</strong></span>
            <span class="field-value">{{ user.created }}</span>
        </li>
        <li>
            <span class="field-name"><strong>Admin:</strong></span>
            <span class="field-value">{{ user.admin }}</span>
        </li>
    </ul>
</div>

{% endblock %}
