{#
test page:
It serves as a template for future pages
#}
{% extends "layout.jinja2" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1 class="text-center">{{ title }} </h1>
<h1>H1: {{ title }}</h1>
<h2>H2: {{ title }}</h2>
<h3>H3: {{ title }}</h3>
<h4>H4: {{ description }}</h4>
<H4>This is my title paragraph</H4>
<div class="container">
    Simple paragraph for text <a href="{{url_for('home_bp.home')}}">with a home Link</a>
    that continues to run until the end.
</div>

<p>New paragraph includes image
    <img src="{{ url_for('static', filename='img/favicon.ico') }}" href="{{ url_for('home_bp.home') }}" />
</p>
<p> Second local image
    <img class="rounded mx-auto d-block" src="{{ url_for('home_bp.static', filename='img/zoom.jpg') }}" width="300">
</p>

{# general static and templates #}
{% include "blueprintinfo.jinja2" %}
{% endblock %}