@black: #1f1f1f;
@purple: #670067;
@myligthgray: #eee;
@dark-blue: #00468b;
@baby-blue: #EAF0F6;

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*body {
    background-color: #eee;
}
*/

/**************************************************************************
    Custom button to open Table of Contents 
*************************************************************************/
.mybtn {
    position: absolute;
    top: 110px;
    left: 45px;
    height: 37px;
    width: 37px;
    text-align: center;
    border: 2px solid @dark-blue;
    background: @baby-blue;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}

.mybtn.click {
    left: 260px;
}

.mybtn span {
    color: @dark-blue;
    font-size: 15px;
    line-height: 36px;
}

.mybtn.click span:before {
    content: '\f00d';
}

/**************************************************************************
    Side menubar for  Table of Contents 
*************************************************************************/
.menusidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: @myligthgray;
    transition: left 0.4s ease;
}

.menusidebar.show {
    left: 0px;
}

/* Table of Context text */
.menusidebar .toc {
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: @dark-blue !important;
    letter-spacing: 1px;
}

.menusidebar .ul .li .a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.menusidebar ul li a:hover {
    background: @baby-blue;
}


.tutorial_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: @black;
    z-index: -1;
    //text-align: center;
}