/**************************************************************************
    Custom styling for tutorial contents
*************************************************************************/
@black: #1f1f1f;
@purple: #670067;
@myligthgray: #eee;
@dark-blue: #00468b;
@baby-blue: #EAF0F6;

/* writing everything around a wrapper to align contents */