[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
flask = "*"
flask-wtf = "*"
flask-bootstrap = "*"
email-validator = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
dash = "*"
pandas = "*"
dash-bootstrap-components = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
black = "*"

[pipenv]
allow_prereleases = true
