{% extends "layout.jinja2" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<section class="h-150" style="background-color: linear-gradient(to bottom right, #EEE, #AAA);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="card-body p-md-5 mx-md-4">
                            <h1 class="text-center">{{ title }} </h1>
                            <h1> {{ title }}</h1>
                            <div class="container">
                                Please check with the site admin if you believe this is a mistake.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# general static and templates #}
{% include "blueprintinfo.jinja2" %}
{% endblock %}