{# Contact form:

#}
{% extends "layout.jinja2"%}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<section class="h-100" style="background-color: #eee;"> {# section element of height 100% and light-gray background #}
    <div class="container h-100 py-5"> {# height 100% and extra-large left/right padding#}
        <div class="row d-flex justify-content-center align-items-center h-100"> {# row element d-flex to align
            horizontaly children #}
            <div class="col-md-10"> {# grid column that takes 10 out of 12 available extra large columns #}
                <div class="card rounded-3 text-black">
                    <div class="row g-0"> {# all the gutters (spacing between columns) removed #}
                        {# first column START #}
                        <div class="col-lg-6">
                            <div class="card-body p-md-6 mx-md-4">
                                <div class="text-center">
                                    <img src="{{url_for('static', filename = 'img/brain1.jpg')}}" style="height: 150px;"
                                        alt="logo">
                                </div>
                                <p class="small mb-4">
                                    Do you have any questions? Please do not hesitate to contact us directly. Our team
                                    will come back to you within a matter of hours to help you.
                                </p>
                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Don't have an account?</p>
                                    <a href="{{url_for('main_bp.register') }}">Create new</a>
                                </div>
                            </div>
                        </div>
                        {# frst column END #}

                        {# second column START #}
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="card-body p-md-6 mx-md-4">
                                <h4 class="mt-1 mb-4 pb-1">Contact Us</h4>
                                <form class="form-wrapper" method="POST">
                                    {{ form.hidden_tag() }} {# CRF protection #}
                                    <div class="form-outline mb-3">
                                        <p class="small">{{form.name.label}}
                                            {{form.name(placeholder="Name (min 3 char)", class="form-control")}}
                                        </p>
                                    </div>
                                    <div class="form-outline mb-3">
                                        <p class="small">{{form.email.label}}
                                            {{form.email(placeholder='A valid email address', class="form-control")}}
                                        </p>
                                    </div>
                                    <div class="form-outline mb-3">
                                        <p class="small">{{form.message.label}}
                                            {{form.message(placeholder='Your Message', class="form-control", rows=4)}}
                                        </p>
                                    </div>
                                    <div class="form-outline mb-4 d-grid">
                                        {{ form.submit(class="btn btn-primary btn-block mb-3")
                                        }}
                                    </div>
                                    <div class="form-outline mb-0 d-grid">
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% for message in messages %}
                                        {% if "Error" not in message[1]: %}
                                        <div class="alert alert-success" role="alert">
                                            <strong>Success! </strong> {{ message[1] }}
                                        </div>
                                        {% endif %}

                                        {% if "Error" in message[1]: %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message[1] }}
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        {% endwith %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}