{#

#}
{% extends "layout.jinja2" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="container h-100 py-5">
        <div class="row">
                {# Picture and basic user info #}
                <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <img class="rounded-circle mt-5" width="150px"
                                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                                <span class="mt-1 mb-1 pb-1">{{ user.name }} {{ user.surname }}</span>
                                <span class="small text-black-50">{{ user.email }}</span>
                        </div>
                </div>

                {# User Account form #}
                <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h5 class="text-right"><i class="fas fa-user"></i>&nbsp;User Account</h5>
                                </div>
                                <form method="POST" , action="">
                                        {{ form.hidden_tag() }} {# CRF protection #}
                                        <div class="row mt-2"> {# Name and Surname #}
                                                <div class="col-md-6">
                                                        <label class="labels">Name</label>
                                                        {{ form.name(placeholder=user.name, class="form-control")}}
                                                </div>
                                                <div class="col-md-6">
                                                        <label class="labels">Surname</label>
                                                        {{ form.surname(placeholder=user.surname,
                                                        class="form-control")}}
                                                </div>
                                        </div>
                                        <div class="row mt-3"> {# Address details #}
                                                <div class="col-md-12">
                                                        <label class="labels">Mobile Number</label>
                                                        {{ form.phone(placeholder=user.phone, class="form-control")}}
                                                </div>
                                                <div class="col-md-12">
                                                        <label class="labels">Address Line 1</label>
                                                        {{ form.address1(placeholder=user.address1,
                                                        class="form-control")}}
                                                </div>
                                                <div class="col-md-12">
                                                        <label class="labels">Address Line 2</label>
                                                        {{ form.address2(placeholder=user.address2,
                                                        class="form-control")}}
                                                </div>
                                                <div class="col-md-12">
                                                        <label class="labels">Postal code</label>
                                                        {{ form.postcode(placeholder=user.postcode,
                                                        class="form-control")}}
                                                </div>
                                        </div>
                                        <div class="row mt-3"> {# State and Country #}
                                                <div class="col-md-6">
                                                        <label class="labels">City</label>
                                                        {{ form.city(placeholder=user.city, class="form-control") }}
                                                </div>
                                                <div class="col-md-6">
                                                        <label class="labels">Country or Region</label>
                                                        {{ form.country(placeholder=user.country,
                                                        class="form-control")}}
                                                </div>
                                        </div>
                                        <div class="mt-5 text-center"> {# Update button #}
                                                {{ form.submit(class="btn btn-primary profile-button") }}
                                                {# Flask feedback (see in views.py)#}
                                                <div class="form-outline mb-0 d-grid">
                                                        {% set messages = get_flashed_messages(with_categories=true) %}
                                                        {% for message in messages %}
                                                        {% if "Error" not in message[1]: %}
                                                        <div class="alert alert-success" role="alert">
                                                                <strong>Success! </strong> {{ message[1] }}
                                                        </div>
                                                        {% endif %}
                                                        {% if "Error" in message[1]: %}
                                                        <div class="alert alert-danger" role="alert">
                                                                {{ message[1] }}
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                </div>
                                        </div>
                                </form>
                        </div>
                </div>

                {# User stats #}
                <div class="col-md-4">
                        <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-right"><i class="fa fa-bar-chart"></i>&nbsp;User Stats</h5>
                                </div><br>
                                {# insert a graph here #}
                                {#
                                <div class="col-md-12">
                                        <label class="labels">Experience in Designing</label>
                                        <input type="text" class="form-control" placeholder="experience" value="">
                                </div> <br>
                                #}
                        </div>
                </div>
        </div>
</div>
{% endblock %}