{% extends "menusidebar.jinja2" %}

{% block tutorial_content %}
<div class="content">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, ipsam. Corporis quis velit ipsam earum
        voluptatibus praesentium nostrum laudantium nobis harum deleniti cupiditate accusantium in eveniet itaque, natus
        ex eos?
    </p>
    <p>
        Main content goes here
        <a href="https://bbbootstrap.com/snippets/sidebar-menu-sub-menus-and-toggle-button-27928347">Link</a>
    </p>
</div>

{% endblock %}