{#
This is the main layout for the lectures. It uses the
nav and footer menues from the layout.jijna2. Then,
it loads the CSS and loads the left menu from menusidebar.jinja2

The routes must provide a variable 'mytarget' with the location
of the index.html located in every subfolder (e.g., day0/index.html)
#}
{% extends "layout.jinja2" %} {# main layout #}

{% block content %}
{# Custom CSS (see in source in src/less/, compiled in /dist) #}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/tutorials.min.css') }}" />

<div class="container px-3 py-5">
    {% include mytarget %}
</div>

{# Custom JavaScript #}
<!-- Back to toc button -->
<button type="button" class="btn btn-primary btn-sm" id="btn-back-to-toc">ToC <i class="fas fa-arrow-up"></i>
</button>
<script src="{{url_for('static', filename='dist/js/tutorials.min.js')}}"></script>

{% endblock %}
<div class="content">
    <p> As part of our system installation service, we provide extensive and comprehensive training, ensuring the
        user feels confident and capable of operating the system safely.</p>
    <p> We will provide follow-up phone and email support and additional site visits as necessary.</p>
</div>