{#
CSS and left menubar (menusidebar) for the tutorials.
It contains the table of contents.
#}
{% extends "layout.jinja2" %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/tutorials.min.css') }}" />

{# menu button #}
<div class="mybtn">
    <span class="fas fa-bars"></span>
</div>
{# Customized left menu: menusidebar #}
<nav class="menusidebar">
    <div class="tableofcontents me-3 me-lg-0">
        Table of Contents</div>
    <ul class="main_side">
        <li class="active"><a href="#">Dashboard</a></li>
        <li>
            <a href="#" id="1">Before we start<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-1">
                <li><a href="{{ url_for('tutorials_bp.lectures', lecture_id=0) }}">Checklist</a></li>
                <li><a href="#content">Contents</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="2">Hardware Install<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-2">
                <li><a href="#">App Design</a></li>
                <li><a href="#">Web Design</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="3">Software Configuration<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-3">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="4">Sample Preparation<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-4">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
            </ul>
        </li>

        <li>
            <a href="#" id="5"> Data Analysis<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-5">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
            </ul>
        </li>
        <li><a href="#">Downloads</a></li>
        <hr>
    </ul>
</nav>
{# Here we introduce the different tutorials #}
<div class="tutorial_content" role="main">
    {% block tutorial_content %}
    {% endblock %}
</div>
{% endblock %}