{% extends "layout.jinja2" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/dist/css/tutorials.min.css') }}" />
<div class="mybtn">
    <span class="fas fa-bars"></span>
</div>
<nav class="menusidebar">
    <div class="text me-3 me-lg-0">
        Table of Contents
    </div>
    <ul class="main_side">
        <li class="active"><a href="#">Dashboard</a></li>
        <li>
            <a href="#" id="1">1. Before we start<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-1">
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Team</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="2">2. Hardware Install<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-2">
                <li><a href="#">App Design</a></li>
                <li><a href="#">Web Design</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="3">3. Software Configuration<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-3">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="4">4. Sample Preparation<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-4">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
            </ul>
        </li>

        <li>
            <a href="#" id="5">5. Data Analysis<span class="fas fa-caret-down"></span></a>
            <ul class="item-show-5">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
            </ul>
        </li>
        <li><a href="#">Downloads</a></li>
        <hr>
    </ul>
</nav>
<div class="tutorial_content">
    <div class="content">
        <p>
            As part of our system installation service, we provide extensive and comprehensive training, ensuring the
            user
            feels confident and capable of operating the system safely. We will provide follow-up phone and email
            support as
            well as additional site visits as necessary.
        </p>
        Main content goes here
        <a href="https://bbbootstrap.com/snippets/sidebar-menu-sub-menus-and-toggle-button-27928347">Link</a>
    </div>
</div>
{% endblock %}