{#
Show errors in HTTP status
#}
{% extends "layout.jinja2" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container h-100 py-3"> {# height 100% and extra-large left/right padding#}
    <div class="row d-flex justify-content-center"> {# row element d-flex to align
        horizontaly children #}
        <div class="col-md-12"> {# grid column that takes 10 out of 12 available extra large columns #}
            <div class="card rounded-3 text-black">
                {# second column END #}
                <div class="text-center">
                    {# <img src="{{url_for('static', filename='img/visualization.jpg')}}" alt="dash" #} <img
                        src="{{url_for('static', filename= mytarget)}}" alt="dash" style="height: 625px;">
                </div>
            </div>
            {# first column END #}

            {# second column START #}
        </div>
    </div>
</div>
</div>
{% endblock %}