{#
Home page for organostation.
#}

{% extends "layout.jinja2" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="text-center">OrganoStation App</h1>
<p class="text-center">
    <img src="{{ url_for('static', filename='img/brain1.jpg') }}" />
</p>

<p class="container" align="right">
    <a href="{{url_for('home_bp.register') }}" type="button" class="btn btn-outline-danger">Register</a>
</p>
{% endblock %}