{#
Home page for organostation
#}

{% extends "layout.jinja2" %}
{% block content %}

<div class="container" role="main" style="margin-top: 75px">
    <h1 class="text-center">Welcome to the OrganoStation App</h1>
    <p class="text-center">
        <img src="{{ url_for('static', filename='/img/brain.jpeg') }}" />
    </p>
    <p align="right">
        Register <a href="{{url_for('register')}}" in>here</a>
    </p>
</div>

{# debug #}
{% endblock %}