{#
This is the application layout for the main environment. It includes
the navigation bar and a footer.

Because this layout inherits from
bootstrap/base.html, we need to use super() when defining
html and head blocks, to allow Flask to override.

When routing with Flask, include title and description.
#}
{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<title>{% block title %}{% endblock %}</title>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito&family=Montserrat" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/dist/css/style.min.css') }}" />
{% endblock %}


{% block body %}
{% block navbar %}
{% include "navigation.jinja2" %}
{% endblock %}

{% block content %}
<div class="mycontainer" role="main">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/6364eb9ae2.js" crossorigin="anonymous"></script>
{{super()}}
{% endblock %}