{#
Navigation bar with Font Awesome Icons. Check this tutorial
https://mdbootstrap.com/docs/standard/navigation/navbar/
#}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{ url_for('home_bp.home') }}">OrganoStation</a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex flex-row me-1">
                <!-- Contact -->
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="{{ url_for('home_bp.contact') }}"><i class="fas fa-envelope mx-1"></i>
                        Contact</a>
                </li>
                <!-- Configure -->
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="{{ url_for('home_bp.configuration') }}"><i class="fas fa-cog mx-1"></i>
                        Configure</a>
                </li>
                <!-- My Account Dropdown menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-chalkboard-user"></i> My Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('home_bp.login')}}">
                            <i class="fas fa-user"></i> Login</a>
                        <a class="dropdown-item" href="{{ url_for('home_bp.register')}}">
                            <i class="fa-regular fa-address-card"></i> Register</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-right-to-bracket"></i> Log out</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->