{#
The horizontal menu bar for the organostation website.It includes
icons fromh Font Awesome Icons (prefix fa). The height of the navigation bar
is 50 px. Thus, every container must have at least 80 px top-margin.

#}

<!-- Horizontal main menubar -->
<nav class="navbar navbar-expand-lg fixed-top">
    <!-- Container wrapper will collapse if screen is small -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{ url_for('auth_bp.home') }}">
            <i class="fa-solid fa-brain"></i>&nbsp;ORGANOSTATION
        </a>


        <!-- Toggle button if screen small-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Collapsible items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex flex-row me-1">
                <!-- Contact -->
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="{{ url_for('auth_bp.contact') }}"><i class="fas fa-envelope mx-1"></i>
                        &nbsp;Contact</a>
                </li>

                <!-- User's Dropdown menu -->
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="UserDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>&nbsp;{{ current_user.name}}
                    </a>

                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="UserDropdown">
                        <a class="dropdown-item" href="{{ url_for('tutorials_bp.home') }}">
                            <i class="fa-solid fa-chalkboard-user"></i>&nbsp;Tutorials</a>
                        <a class="dropdown-item" href="{{ url_for('auth_bp.profile', email = current_user.email) }}">
                            <i class=" fa-regular fa-address-card"></i>&nbsp;User Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('auth_bp.logout') }}"><i
                                class="fa-solid fa-right-to-bracket"></i>&nbsp;Log out</a>
                    </div>

                </li> <!-- my account -->
                {% else %}
                <!-- My Account -->
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="{{ url_for('auth_bp.login') }}"><i class="fas fa-user"></i>
                        My Account</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- End container wrapper -->
</nav>