{#
Sidemenubar
#}
<div id="sidebar" class="col-auto border-end" style="background: #eee">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">

        <li class="nav-item">
            <a href="{{url_for('main_bp.home')}}" class="nav-link text-truncate">
                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
        </li>
        <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-truncate">
                <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
        </li>
        <li>
            <a href="#" class="nav-link text-truncate">
                <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Orders</span></a>
        </li>

        <!-- Tutorials -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-collapse text-truncate" href="#" id="tutorials" role="button"
                aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#mytutorials">
                <i class="fs-5 bi-book"></i><span class="ms-1 d-none d-sm-inline">Tutorials</span>
            </a>

            <div class="dropdown-menu dropdown-menu text-small shadow" aria-labelledby="tutorials" id="mytutorials">
                <ul class="submenu collapse">
                    <li><a class="nav-link" href="#">Submenu item 4 </a></li>
                    <li><a class="nav-link" href="#">Submenu item 5 </a></li>
                    <li><a class="nav-link" href="#">Submenu item 6 </a></li>
                    <li><a class="nav-link" href="#">Submenu item 7 </a></li>
                </ul>
                <a class="dropdown-item" href="#">New project...</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Profile</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </li>

        <li>
            <a href="#" class="nav-link text-truncate">
                <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
        </li>
        <li>
            <a href="{{url_for('main_bp.contact')}}" class="nav-link text-truncate">
                <i class="fs-5 bi-envelope"></i><span class="ms-1 d-none d-sm-inline">Contact</span> </a>
        </li>
        <li>
            <a href="{{url_for('main_bp.profile', email=current_user.email)}}" class="nav-link text-truncate">
                <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Account</span> </a>
        </li>
    </ul>
</div>