<!-- tutorials page -->
{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div id="tutorials" class="container">
    <h1 class="text-center">Tutorials page</h1>

    <ol class="list-group list-group-numered">
        <a href="{{ url_for('index') }}" class="list-group-item">
            <span class="badge">Day 1</span>
            <p class="thick">Before we start</p>
            <p class="list-group-item-text">Contains a list of preparatory elements necessary before your equipment
                arrives.
                <span class="label label-danger">Important!</span>
            </p>
        </a>

        <a href="" class="list-group-item">
            <spam class="badge">Day 2</spam>
            <p class="thick">Hardware Installation</p>
            <p class="list-group-item-text">Installation of equipment and description of its components.</p>
        </a>

        <a href="" class="list-group-item disabled">
            <spam class="badge">Day 3</spam>
            <p class="thick">Software Configuration</p>
            <p class="list-group-item-text">Installation of acquistion system and testing of signal acquistion. </p>
        </a>

        <a href="" class="list-group-item">
            <span class="badge">Day 4</span>
            <p class="thick">Sample Preparation</p>
            <p class="list-group-item-text">This guide will prepare you to perform your first recordings.</p>
        </a>

        <a href="" class="list-group-item disabled">
            <span class="badge">Day 5</span>
            <p class="thick">Data Analysis </p>
            <p class="list-group-item-text">Visualization, signal extraction and analysis.</p>
        </a>
    </ol>

</div>

{% endblock %}