<h1><strong>Sample preparation</strong></h1>

<p>This guide is the most important part of the tutorials, and it will guide you through the preparation of the organoid
	and the recording procedure. Neural tissue has special properties that make it very sensitive to changes in
	mechano-chemical conditions. Thus, special care is required when handling the preparation.</p>


<section id="toc">
	<hr />
	<h1>Table of Contents (ToC)</h1>

	<ol>
		<li><a href="#tissue">Tissue immobilization</a></li>
		<li><a href="#handling">Electrode penetration</a></li>
		<li><a href="#cleaning">Cleaning protocol</a></li>
	</ol>

	<hr />
</section>

<section id="checklist">
	<h1><em>Checklist</em></h1>

	<ul>
		<li style="list-style-type:disc">Easy access to organoids in an incubator</li>
		<li style="list-style-type:disc">4% agar in a 1.5 mL Eppendorf tube</li>
		<li style="list-style-type:disc">Bench-top magnifier</li>
		<li style="list-style-type:disc">A thermal cycler</li>
		<li style="list-style-type:disc">Plastic chamber (10 x 10 cm) to fill with ice</li>
		<li style="list-style-type:disc">Filter paper (e.g., Watmann) or Kim-wipe / absorbent swab</li>
		<li style="list-style-type:disc">A 5 mL syringe</li>
		<li style="list-style-type:disc">Plastic Pasteur pipette</li>
		<li style="list-style-type:disc">200 microliter and 1 mL Eppendorf pipettes</li>
		<li style="list-style-type:disc">A dissecting&nbsp;needle</li>
		<li style="list-style-type:disc">Tergazyme 1% solution (optional for cleaning)</li>
		<li style="list-style-type:disc">A 50 mL falcon tube</li>
	</ul>
</section>

<section id="tissue">
	<h1>1. Tissue immobilization</h1>

	<p>One of the most important elements in an electrical recording is mechanical stability. We will use 4% (wt/vol)
		low-melt agarose (Biozym, Cat. No. 850080) in phosphate-buffered solution (PBS) to immobilize the organoid
		within
		the recording chamber. Also, artificial cerebrospinal fluid (ACSF) will be delivered at a rate of 2-3 mL/min
		while
		keeping both solution and chamber near physiological temperature&nbsp;(30-35 &deg;C ). When keeping mechanical
		stability, the composition of the fluid, and the temperature of the tissue, we can guarantee recordings under
		neurophysiological conditions.&nbsp;</p>

	<h2>1.1 Sample preparation</h2>

	<p>We recommend using the recording station close to the culture room to avoid mechanical stress on the organoids.
		Before starting the procedure, have a bottle (~, e.g., 500 mL) of ACSF gassed with carbogen for at least 20
		minutes
		to equilibrate the pH solution (~ 7.25-7.35) at room temperature.</p>

	<p>Once taken from the incubator, cerebral organoids are to keep at near-physiological temperature (30-35 &deg;C )
		in
		ACSF for ten minutes (e.g., in a 35-mm petri dish). While keeping the organoids in ACSF, it is recommended to
		melt
		the 4% (wt/vol) low-melt agarose (Biozym, Cat. No. 850080) in phosphate-buffered solution (PBS) in a thermal
		block
		(or in thermal cycler). At the same time, we can fill a 10 x 10 mL plastic container with ice, and cover it with
		a
		paper blanket. We will operate the recording chamber on top of the blanket. In this way, the chamber is very
		cold,
		but not frozen. At both the left and right sides of the chamber, we will have preparation tools (like pipettes
		of
		different sizes, filter paper, etc. see below).</p>

	<p>The preparation must be visible&nbsp;under a bench-top magnifier or low-power microscope, as depicted below.</p>

	<p>&nbsp;</p>

	<table border="0" cellpadding="1" cellspacing="1" style="margin-left:auto; margin-right:auto; width:750px">
		<tbody>
			<tr>
				<td style="width:508px"><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/sample.jpg"
						style="height:375px; width:500px" /></td>
				<td style="width:228px"><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/thermo.jpg"
						style="height:188px; width:250px" /></td>
			</tr>
		</tbody>
	</table>

	<p>Here is a summary of the tools to have before the sample preparation:</p>

	<ul>
		<li>ACSF bubbled in Carbogen for 20 minutes at room temperature.</li>
		<li>Organoids in ACSF at near physiological temperature (30-35 &deg;C ) in a 35 mm petri dish</li>
		<li>1.5 mL Eppendorf containing 4% agar melted in a thermal block at around 50 &deg;C&nbsp;</li>
		<li>A plastic cube (~ 10 x 10 cm) filled with ice</li>
		<li>Preparation tools:
			<ul>
				<li>1) 1mL and 200 microL eppendorf pipettes</li>
				<li>2)&nbsp;5 mL syringe</li>
				<li>3) Plastic Pasteur Pipette</li>
				<li>4)&nbsp;Filter paper (e.g., Watmann) or Kim-wipe / absorbent swab</li>
				<li>5) Dissecting needle</li>
			</ul>
		</li>
	</ul>

	<h2>1.2 Embedding the organoid</h2>

	<p>Now that we have the organoid on the dish, we will use the plastic Pasteur pipette (or an Eppendorf pipette tip)
		and
		cut it to have a ~ 5 mm diameter or larger. It allows us to get the organoid with some ACSF without touching the
		tissue. We use it to move it to the recording chamber on the preparation table. Note that the organoid will
		contain
		a few microliters (maybe up to 1 mL) of ACSF in the recording chamber. We will eliminate those with a 1 mL
		Eppendorf
		pipette. After that, use the filter paper (or Kim-wipe / absorbent swab) carefully, to remove the excess liquid
		around the border of the organoid. It is necessary that the border is almost dry to allow the agar to surround
		the
		tissue and fix it together with the chamber. After it, we will add 4% melted agarose in the surroundings of the
		organoid, that in contact with the frozen chamber, will solidify immediately and fix the organoid to the
		chamber.
		This is when we add ~ 2 mL of ACSF at room temperature, to finally move the chamber to the organostation, and
		start
		the perfusion of warm (~ 35&nbsp;&deg;C) ACSF with the peristaltic pump.</p>

	<p>Here is the whole process summarized.</p>

	<ol>
		<li>Move the organoid for the 35 mm petri dish to the recording chamber.</li>
		<li>Remove the excess ACSF with an Eppendorf pipette, and dry out the borders of the organoid with filter paper.
		</li>
		<li>Add immediately 194 microliters of melted 4% agar around the borders of the organoid.</li>
		<li>Add ACSF to cover the whole volume of the organoid (about 2 mL).</li>
		<li>Move the chamber carefully&nbsp;to the organostation&nbsp;and start the perfusion of warm (~ 35&nbsp;&deg;C)
			ACSF</li>
	</ol>

	<p>The most critical step is drying out the border of the organoids. Neural tissue will immediately die if not in
		the
		presence of ACSF. Therefore, the organoid must be kept in ACSF as long as possible.</p>
</section>

<section id="handling">
	<h1>2. Electrode penetration</h1>

	<p>Once the chamber is in the organostation, look carefully if the organoid remains embedded in agar. If yes, it is
		time
		to take the probes and insert them into the adaptor for the micromanipulators. For that, you need to move the
		manipulators at a fast speed outside of the recording chamber. Once there, inset the probes on the manipulators,
		and
		do not forget to allocate the reference electrode inside the bath (see figure).&nbsp;</p>

	<p><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/grounding.jpg"
			style="width: 350px; height: 264px;" /></p>

	<p>After setting the grounding electrode, move the manipulators fast until you see it under the microscope. At the
		same
		time, monitor the noise of the recordings in your computer. Noise is very large if the electrodes are outside
		ACSF.
		Once the electrodes are on top of the organoid, select a slower speed and move downwards. At the moment you
		touch
		the surface of the organoid, you will see that the noise of the electrodes increases slightly. This is the
		moment
		when you set the counter to zero in the manipulator pad, and move the probe using the wheel. Insert now the
		probes
		with the electrodes around 200- 300 micrometers following the display in the manipulator pad.</p>

	<h2>2.1 Documenting recordings</h2>

	<p>Check that the binary file is saved and enter in your dataset all the details for your recording, for example</p>

	<p><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/Stable.jpg" style="width:750px" /></p>

</section>

<section id="cleaning">
	<h1>3. Cleaning protocol</h1>

	<p>Ideally,&nbsp;you would like to start and end cleaning the probe by immersing it in a 1% (w/v) <a
			href="https://www.coleparmer.com/i/alconox-tergazyme-1304-1-enzyme-active-powered-detergent-4-lb-box/1777705"
			rel="noopener noreferrer" target="_blank">tergazyme</a> in dH2O solution at ~50 degrees for 20 minutes.
		After
		that, you can remove any debris with a small brush under visual inspection (e.g., bench-top magnifier).&nbsp;
	</p>

	<ol>
		<li>Immersion in 1% (w/v) tergazyme at ~ 50&nbsp;&deg;C for approximately 20 minutes.</li>
		<li>Rinse abundantly with&nbsp;bi-distilled water at ~ 50&nbsp;&deg;C &nbsp;</li>
		<li>Rinse with isopropanol at room temperature&nbsp;</li>
	</ol>

	<h2>3.1 Probe cleaning</h2>

	<p>Once the acquisition is made, and the binary file is stored, you must operate carefully to remove the probes from
		the
		manipulator. During this time, the tissue can remain at physiological temperature and with the proper
		recirculation
		in the chamber. It helps if you require to perform a new recording on a different day and recover after the
		brief
		immersion of the probes. To remove the probes, move the manipulator to the furthest possible&nbsp;position, and
		once
		there, far away from the tissue, remove the PCB that contains the probe.</p>

	<p>Always move the&nbsp;probe upwards, avoiding any contact. Securely mount your probe into a moveable stand to soak
		the
		probe shank(s) in a heated magnetic stirrer bath (cleaning station, see figure on the left). Insert the probe in
		1%
		(w/v) <a
			href="https://www.coleparmer.com/i/alconox-tergazyme-1304-1-enzyme-active-powered-detergent-4-lb-box/1777705"
			rel="noopener noreferrer" target="_blank">tergazyme</a> in dH2O solution at ~50 degrees for approximately 20
		minutes. Alternatively,&nbsp;you can use Trypsin 10X (Cat. No, 59427C from Sigma) diluted 1:10 in distilled
		water
		and soak the probe shank for a few hours at 35 degrees Celsius.</p>

	<p>Finally, you can store the probe within a Falcon Tube containing 30 mL of dH2O.</p>

	<table border="0" cellpadding="1" cellspacing="1" style="margin-left:auto; margin-right:auto; width:750px">
		<tbody>
			<tr>
				<td style="width:386px"><img alt=""
						src="https://ckeditor.com/apps/ckfinder/userfiles/files/probe_cleaner.jpg"
						style="height:253px; width:250px" /></td>
				<td style="width:350px"><img alt=""
						src="https://ckeditor.com/apps/ckfinder/userfiles/files/cleaning_station.jpg"
						style="height:436px; width:250px" /></td>
			</tr>
		</tbody>
	</table>

	<h2>3.2&nbsp;Probe storage</h2>

</section>