<!-- Base template for the OrganoStation site -->
{% extends "bootstrap/base.html" %}

<!-- Add lang="en" to HTML tag-->
{% block html_attribs %} lang="en"{% endblock %}

{% block title %}OrganoStation{% endblock %}

<!-- Define css style for organostation-->
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('static', filename='organostation.css') }}">
{% endblock %}

<!-- Bootstrap navbar navbar-dark bg-dark"-->
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home"></span>
       </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="test"><spam class="glyphicon glyphicon-wrench"></spam> Customize</a></li>
      <li><a href="test"><spam class="glyphicon glyphicon-education"></spam> Tutorials</a></li>
      <li><a href="visualoid"><spam class="glyphicon glyphicon-phone"></spam> App</a></li>

      <li>
        <a href="test" class="nav-link disabled" tabindex="-1">Disabled</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

