<!-- Login access: 
    you may look here: https://www.mattbutton.com/2019/01/05/google-authentication-with-python-and-flask/-->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container theme-showcase" role = "main" style = "margin-top: 75px">
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="POST">
        {{ form.hidden_tag() }} 
        {{ wtf.form_field( form.email ) }}
        {{ wtf.form_field( form.passwd ) }}
        <input type="submit" value = "Submit">
    </form>
</div>
{% endblock %}
