<!-- tutorials page -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container theme-showcase" role="main" style="margin-top: 75px">
    <h1>Tutorials page</h1>
</div>

<div class="container">
    <h2>Installation and training guides</h2>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-text">Day 0: Before we start</h4>
            <p class="list-group-item-text">Contains a list of elements necessary 
                before you start.
            </p>
        </a>

        <a href="#" class="list-group-item disabled">
            <h4 class="list-group-item-text">Day 1: Hardware installation</h4>
            <p class="list-group-item-text">Installation of equipment and description of 
                its components.
            </p>
        </a>
            
        <a href="#" class="list-group-item disabled">
            <h4 class="list-group-item-text">Day 2: Software configuration</h4>
            <p class="list-group-item-text">Installation of acquistion system and 
                testing of signal acquistion. 
            </p>
        </a>

        <a href="#" class="list-group-item disabled">
            <h4 class="list-group-item-text">Day 3: Sample preparation</h4>
            <p class="list-group-item-text">This guide will prepare you
                to perform your first recordings.
            </p>
        </a>

        <a href="#" class="list-group-item disabled">
            <h4 class="list-group-item-text">Day 4: Data Analysis </h4>
            <p class="list-group-item-text">Visualization, analysis and 
                cuantification.
            </p>
        </a>
      </div>
</div>
{% endblock %}