<!-- tutorials page -->
{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container text-center">
    <h3>Tutorials page</h3>
</div>

<div class="container">
    <h4>Installation and training guides</h4>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-text">Day 0: Before we start</h5>
            <p class="list-group-item-text">Contains a list of elements necessary 
                before you start.
            </p>
        </a>
        <a href="#" class="list-group-item disabled">
            <h2 class="list-group-item-text">Day 1: Hardware installation</h2>
            <p class="list-group-item-text">Installation of equipment and description of 
                its components.
            </p>
        </a>
            
        <a href="#" class="list-group-item disabled">
            <h2 class="list-group-item-text">Day 2: Software configuration</h2>
            <p class="list-group-item-text">Installation of acquistion system and 
                testing of signal acquistion. 
            </p>
        </a>
        <a href="#" class="list-group-item disabled">
            <h2 class="list-group-item-text">Day 3: Sample preparation</h2>
            <p class="list-group-item-text">This guide will prepare you
                to perform your first recordings.
            </p>
        </a>
        <a href="#" class="list-group-item disabled">
            <h2 class="list-group-item-text">Day 4: Data Analysis </h2>
            <p class="list-group-item-text">Visualization, analysis and 
                cuantification.
            </p>
        </a>
    </div>
</div>
{% endblock %}