<h1><strong>Before we start</strong></h1>

<p style="margin-left:8px; margin-right:10px">This guide contains the minimal requirements to start an experiment with
	our customized recording system. Please, check it before we arrive at your destination. In addition, Maintenance
	Solutions, and Drugs must be ready to use on the recording day of our training (<a
		href="/Day-3-Sample-preparation-and-recording-7dd7192a08b44b8ca6916649621f3cec">📖Day 3: Sample preparation and
		recording</a> ). Feel free to download this guide and ensure all elements in the Checklist are available.</p>

<hr />
<p>Table of Contents</p>

<ul>
	<li><a href="#checklist">Checklist</a></li>
	<li><a href="#hardware">Hardware requirements</a></li>
</ul>

<hr />
<section id="checklist">
	<h1><em>Checklist</em></h1>

	<ul>
		<li style="list-style-type:disc">3- to 6-month-old organoids cultured in BrainPhys</li>
		<li style="list-style-type:disc">Dedicated location for equipment (avoid direct electrical or thermal
			irradiation)</li>
		<li style="list-style-type:disc">Two dedicated power sockets or outlet power strips</li>
		<li style="list-style-type:disc">Carbogen bottle (10L or 50L)</li>
		<li style="list-style-type:disc">Pressure adaptor (from 200 Bar to 1-2 Bar)</li>
		<li style="list-style-type:disc">Filter-candle tubes</li>
		<li style="list-style-type:disc">Silicon tubes and plastic clamps</li>
		<li style="list-style-type:disc">1-2 mL stocks of 4% agarose (Biozime) in Phosphate buffer saline (PBS)</li>
		<li style="list-style-type:disc">One litter of freshly prepared artificial cerebrospinal fluid (ACSF)</li>
		<li style="list-style-type:disc">0.1 mL frozen aliquots with pharmacological agents</li>
		<li style="list-style-type:disc">Python &ge; 3.8 and Matlab (version &gt; R2016b) ****with toolboxes (optional)
		</li>
	</ul>
</section>

<section>
	<h1>1. Hardware requirements</h1>

	<p style="margin-left:8px; margin-right:10px">Please, ask your building facility to assist you when installing the
		system for the first time. The equipment is heavy, but it is possible to move it with the help of a hand pallet
		trolley.</p>

	<h2 style="margin-left: 8px; margin-right: 10px;">1.1 Dedicated location</h2>

	<p style="margin-left: 8px; margin-right: 10px;">You may need a quiet place for your station following the
		measurements below.</p>

	<table border="1" cellpadding="1" cellspacing="1" style="width:750px;margin-left:auto;margin-right:auto;">
		<tbody>
			<tr>
				<td style="width: 550px;"><img
						src="https://lh6.googleusercontent.com/CKmGAkkJtej6pZcSyRgSliKMoEtLaO3iESPPlCun1_mzbRinZMCtC2cThrIanK7GsplNg9ZNsQ8aVsZ0QAwZe93CSrkW0kAqiSQiDYodaQu5A_09w4kox5tdaABb58yPKxTSA2MI_izprhr82_mNwrZpNgCv9QVvuE97LNwXcusv2sk84aTQrmVeCqxt"
						style="width:450px" /></td>
				<td style="width:250px">
					<p style="margin-left: 8px; margin-right: 10px;">Depending on your model, you will have a 600 x 600
						cm (Width x Length) for the recording system or a 600 x 900 cm passive isolator table for the
						recording workstation (see figure). Note that the table requires a surrounding distance of ~ 20
						cm for electrical and mechanical isolation.</p>

					<p style="margin-left: 8px; margin-right: 10px;">Computers, cell phones, or any other radio-emitting
						devices should not be exposed to the entry of the Faraday Cage, as they may interfere with the
						signals.</p>
				</td>
			</tr>
		</tbody>
	</table>

	<p>&nbsp;</p>

	<p>A pump will be used to pressurize the passive vibration table. We recommend filling the tables with 60 psi (415
		kPa or 4,15 bars).</p>

	<h2 style="margin-left: 8px; margin-right: 10px;">1.1 Power supply</h2>

	<p style="margin-left: 8px; margin-right: 10px;">It is recommended to use different security sockets for the
		recording system and the computer. If possible, two independent extra-long power strips are advisable</p>

	<h1 style="margin-left: 8px; margin-right: 10px;">2. Maintenance</h1>

	<p>Recording in neurophysiological conditions requires detailed control of temperature and precise concentrations of
		solutions and gases. Physiological con</p>

	<h2>2.1 Carbogen bottle</h2>

	<p>A mixture of 5% CO2 and 95 % O2 (carbogen, available, for example, <a data-token-index="1"
			href="https://www.linde-gas.de/shop/de/de-ig/carbogen-lab-50l-200-bar-4040152" rel="noopener noreferrer"
			target="_blank">here</a>) must be continuously supplied to the tissue to maintain the pH and appropriate
		oxygenation levels. Commercially available bottles containing 50L or 10 L of carbogen at 200 bars are available.
	</p>

	<table border="1" cellpadding="1" cellspacing="1" style="width:750px;margin-left:auto;margin-right:auto;">
		<tbody>
			<tr>
				<td style="width: 550px;"><img alt=""
						src="https://ckeditor.com/apps/ckfinder/userfiles/files/carbogen.png" style="width: 250px; " />
				</td>
				<td style="width:250px">
					<p style="margin-left: 8px; margin-right: 10px;">&nbsp;</p>

					<p style="margin-left: 8px; margin-right: 10px;">Carbogen is highly flammable. Check the safety
						regulations of your institution carefully.</p>
				</td>
			</tr>
		</tbody>
	</table>

	<p>&nbsp;</p>

	<h2 style="margin-left: 8px; margin-right: 10px;">2.2 Pressure adaptor</h2>

	<p style="margin-left: 8px; margin-right: 10px;">If your facility does not provide it, you will need an adaptor to
		reduce the pressure of the carbogen bottle (200 Bar) to the pressure of application necessary to operate the
		recording system (to ~ 1-2 bar pressure, 1 bar is 14.5 psi or 100 kPa). Please, also follow the local regulation
		(in Europe, we follow ISO 5171 regulations). Be sure that:</p>
</section>