@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import 'variables.less';

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*
hyperlinks
*/
a {
    text-decoration: none;
    color: @dark-blue !important;
}

a:hover {
    color: @purple !important;
}


/* for a customized header  use <header></header> in layout.jinja2*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00468b;
    color: aliceblue;
    padding: 1em;
}

/* Overwrite nav colors
here we select child classes */
.navbar-light .navbar-nav .nav-item .nav-link {
    color: @dark-blue;
}

.nav-link:hover {
    color: @purple !important;
}