@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import 'variables.less';

* {
    //margin: 0;
    //padding: 0;
    user-select: none;
    //box-sizing: border-box;
    //font-family: 'Poppins', sans-serif;
}



/************************************************************************** 
// hyperlink behaviour
**************************************************************************/
a {
    text-decoration: none;
    color: @dark-blue !important;
}

// mouser over link
a:hover {
    text-decoration: underline;
    color: purple !important;
}

a:visited {
    color: purple !important;
}


// for a customized header  use <header></header> in layout.jinja2
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00468b;
    color: black;
    padding: 1em;
}

/************************************************************************** 
navigation bar
nav-link
**************************************************************************/
// menu bar icon default color is dark-blue
.fa-bars {
    color: @dark-blue;
}

// navigation button 
.navbar-toggler {
    border: 2px solid @dark-blue;
    background: @baby-blue;
    border-radius: 3px;
    cursor: pointer;
}

// navigation button on hover becomes purple ..
.navbar .navbar-toggler:hover {
    color: purple;
    border-color: purple;
    border-width: 2px solid purple;
}

// ... and also the icon inside 
.navbar .navbar-toggler:hover .fa-bars {
    color: purple;
}

.navbar .navbar-toggler:focus {
    border: 2px solid @dark-blue;
    border-color: none;
}

// menubar shadow: offset-x | offset-y | blur-radius | spread-radius | color 
.navbar {
    -webkit-box-shadow: 0 6px 4px -4px #999;
    -moz-box-shadow: 0 6px 4px -4px #999;
    box-shadow: 0 6px 4px -4px #999;
}

.navbar {
    height: 50px;
    font-family: 'Munito', sans-serif !important;
    font-size: small;
    background-color: @baby-blue;

}

.navbar-brand .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: @dark-blue !important;
    font-family: 'Munito', sans-serif !important;
    font-size: small;
}

.nav-link:visited {
    text-decoration: none;
    color: @dark-blue !important;
}

.nav-link:hover {
    text-decoration: none;
    color: purple !important;
}

.navbar-brand:visited {
    text-decoration: none;
    color: @dark-blue !important;
}

.navbar-brand:hover {
    text-decoration: none;
    color: purple !important;
}

.dropdown-menu {
    text-decoration: none;
    color: @dark-blue !important;
    font-family: 'Munito', sans-serif !important;
    font-size: small;

}

.dropdown-item:visited {
    text-decoration: none;
    color: @dark-blue !important;
}

.dropdown-item:hover {
    text-decoration: none;
    color: purple !important;
    background-color: @baby-blue !important;
}

/************************************************************************** 
Footer
**************************************************************************/
// menubar shadow: offset-x | offset-y | blur-radius | spread-radius | color 
.myfooter {
    -webkit-box-shadow: 0 -6px 4px -4px #999;
    -moz-box-shadow: 0 -6px 4px -4px #999;
    box-shadow: 0 -6px 4px -4px #999;
    font-size: small;
    width: 100%;
    background-color: @baby-blue;


}