@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import 'variables.less';

* {
    //margin: 0;
    //padding: 0;
    // user-select: none;
    //box-sizing: border-box;
    //font-family: 'Poppins', sans-serif;
}


/************************************************************************** 
// hyperlink behaviour
**************************************************************************/
a {
    text-decoration: none;
    color: @dark-blue !important;
}

// mouser over link
a:hover {
    text-decoration: underline;
    color: @dark-blue !important;
}

a:visited {
    color: @dark-blue !important;
}


/************************************************************************** 
usermenu navigation bar
nav-link
**************************************************************************/
// menu bar icon default color is dark-blue
.fa-bars {
    color: @dark-blue;
}

ul a {
    color: @ligthgray !important;
}

ul .a:hover {
    color: whitesmoke !important;
}

// navigation button 
.navbar-toggler {
    border: 2px solid @dark-blue;
    background: @baby-blue;
    border-radius: 3px;
    cursor: pointer;
}

// navigation button on hover becomes white ..
.navbar .navbar-toggler:hover {
    color: ligthgray;
    border-color: ligthgray;
    border-width: 2px solid ligthgray;
}

// ... and also the icon inside 
.navbar .navbar-toggler:hover .a {
    color: @dark-blue;
}

.navbar .navbar-toggler:focus {
    border: 2px solid @dark-blue;
    border-color: none;
}

// menubar shadow: offset-x | offset-y | blur-radius | spread-radius | color 
.navbar {
    -webkit-box-shadow: 0 6px 4px -4px #999;
    -moz-box-shadow: 0 6px 4px -4px #999;
    box-shadow: 0 6px 4px -4px #999;
}

.navbar {
    height: 35px;
    font-family: 'Munito', sans-serif !important;
    font-size: small;
    background-color: @myblack;
}

.navbar-brand .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: @dark-blue !important;
    font-family: 'Munito', sans-serif !important;
    font-size: small;
}

/* navigation links */
.nav-link:visited {
    color: @ligthgray !important;
}

.nav-link:hover {
    color: @orange !important;
}

.nav-link:hover {
    text-decoration: none;
    color: ligthgray !important;
}

.navbar-brand:visited {
    text-decoration: none;
    color: @ligthgray !important;
}

.navbar-brand:hover {
    text-decoration: none;
    color: @orange !important;
}


/* Top Dropdown menu for users */
.dropdown-menu {
    text-decoration: none;
    color: @dark-blue !important;
    font-family: 'Munito', sans-serif !important;
    font-size: small;
}

.dropdown-menu {
    background-color: @mymenu;
}

/* Drop-donw user */
.dropdown-item:visited {
    color: @ligthgray !important;
}

/* User */
.dropdown-toggle:visited {
    text-decoration: none;
    color: @ligthgray !important;
    background-color: @myblack !important;
}

.dropdown-item:hover,
.dropdown-toggle:hover {
    text-decoration: none;
    color: @orange !important;
    background-color: @myblack !important;
}

/*  Sidebar */
// to rotate fa-caret-down we modify span
.nav-link ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s;
}

.nav-link ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

/************************************************************************** 
Footer
**************************************************************************/
// menubar shadow: offset-x | offset-y | blur-radius | spread-radius | color 
.myfooter {
    -webkit-box-shadow: 0 -6px 4px -4px #999;
    -moz-box-shadow: 0 -6px 4px -4px #999;
    box-shadow: 0 -6px 4px -4px #999;
    font-size: small;
    width: 100%;
    bottom: 0;
    background-color: @baby-blue;
}

.fa-linkedin,
.fa-github,
.fa-kaggle,
.fa-twitter {
    color: @dark-blue;
}

.fa-linkedin:hover,
.fa-kaggle:hover,
.fa-twitter:hover,
.fa-github:hover {
    color: ligthgraligthgray !important;
}


/************************************************************************** 
// Buttons 
**************************************************************************/
.btn,
btn:visited {
    /*padding: .375rem !important;*/
    color: @ligthgray;
    border-color: @mymenu;
    font-size: 20px;
    background-color: @dark-blue;
}

.btn:hover,
.btn:focus {
    color: @orange;
    border-color: @orange;
    background-color: @myblack;
    text-decoration: none;
    box-shadow: none;
}