//************************************************************************* 
// Colors and other global styling elements
//
// add @import 'variables.less'; to use them
//************************************************************************* 

@black: #14171F;
/* top menu bar */
@myblack: #252F3D;
@ligthgray: #eee;
@dark-blue: #00468b;
@dark-blue: #4669F5;
@baby-blue: #EAF0F6;
@orange: #EB9D3F;
/* side menu */
@mymenu: #252833;