//************************************************************************* 
// Colors and other global styling elements
//
// add @import 'variables.less'; to your less scripts to use them
//************************************************************************* 

@black: #1f1f1f;
@purple: #670067;
@ligthgray: #eee;
@dark-blue: #00468b;